@model WebApp1.Models.CourseViewModel;
@{
    ViewData["Title"] = "AddCourses";
     SelectList depOption = new SelectList(Model.DepList, "id", "Name");
}

<h1>Add Course</h1>


<form asp-action="SaveCourse" asp-controller="course" method="post">
    
    <div class="mb-3">
        <label asp-for="CourseName"></label>
        <input asp-for="CourseName" class="form form-control" />
    </div>

    <div class="mb-3">

        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="minDegree"></label>
        <input asp-for="minDegree" class="form form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="hours"></label>
        <input asp-for="hours" class="form form-control" />
    </div>
    <div class="mb-3">
        
        <label asp-for="DepartmentId"></label>
        <select class="form form-control" asp-for="DepartmentId" asp-items="depOption">
    <option value="0">select Department</option>
</select>
    </div>
    <input type="submit" value="Save" class="btn btn-success"/>

</form>


